<html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-style-type" content="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>

  <link rel="stylesheet" type="text/css" href="../static/css/products.css">
</head>
<body>
<style>

</style>
  <div id="shops">
    <div id="yahoo">
      <h2>Yahoo!</h2>

      <div class="product_box">
        <ul class="img_and_price">
          <li class="product_img">
            <img src="">
          </li>
          <li class="product_price">
            <h4></h4>
          </li>
        </ul>
        <div class="product_name">
          <h3></h3>
        </div>
      </div>
    </div>

    <div id="rakuten">
      <h2>Rakuten</h2>
          <div class="im">
            <img src="http://thumbnail.image.rakuten.co.jp/@0_mall/book/cabinet/5802/2100010525802.jpg">
          </div>
    </div>

    <div id="amazon">
      <h2>Amazon!</h2>
    </div>


    <style>
    #rakuten .im {
      border-radius: 20px;
      width: 200px;
    }
    #rakuten .im img {
      width: 100%;
    }
    </style>

  </div>
</body>
</html>
